a {
    color:#00A6FB;
}

body {
    background-color: #353a47;
}

p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
}

.about-me-img-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.container {
    margin: 4rem;
}

.header {
    color: #00A6FB;
    font-family: "Oswald", sans-serif;
    text-align: center;
    border-bottom: 2px solid #00A6FB;
}

.text-body {
    padding: 1rem;
}

#about-me-img {
    display: block;
    width: 60%;
    margin: auto;
}